body{
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.settings-container{
    font-size: 25px;
    min-width: 50vw;
    align-items: center;
}



.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    width: 100%;
}

.buttons button{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.setting{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: 	    flex;
    justify-content:space-between;
    align-items: 	center;
    border: 1px solid black;
    
}

.setting button{
    margin: 10px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    width: 15%;
}

.setting input, select{
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}